@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.select-no-outline:focus {
  outline: none !important;
  box-shadow: none !important; /* In case the browser uses box-shadow for focus */
}
.drop-no-outline:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important; /* In case the browser uses box-shadow for focus */
}

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  .no-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
}

.rce-input:focus {
  outline: none !important;
  border: none !important;
}
.rce-input-textarea:focus {
  outline: none !important;
  border: none !important;
}

body,
.app {
  @apply no-scrollbar bg-white text-gray-700;
}

.description li {
  list-style-type: disc;
  margin-bottom: 15px;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.react-tel-input .selected-flag .arrow {
  margin-left: 10px;
  width: 14px;
  height: 14px;
}

.css-b62m3t-container .css-13cymwt-control {
  border-width: 0px !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.css-t3ipsp-control {
  border-width: 0px !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0px !important;
}

.react-tel-input .flag-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tel-input .selected-flag {
  padding: 0px !important ;
}

.react-datepicker-popper {
  z-index: 50 !important;
}

.react-tel-input .country-list {
  top: 40px !important;
  left: 80px !important;
}

.css-qbdosj-Input,
.css-19bb58m {
  position: relative;
  width: 100% !important;
}

.css-qbdosj-Input::before,
.css-19bb58m::before {
  content: "Location";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}
.css-qbdosj-Input.modified::before,
.css-19bb58m.modified::before {
  display: none;
  content: "";
  z-index: -1;
}

/* Hide placeholder content when input is focused or has a value */
.css-qbdosj-Input:focus::before,
.css-19bb58m:focus:before,
.css-qbdosj-Input:not(:placeholder-shown) + ::before {
  opacity: 0;
}

.rce-container-input {
  display: flex;
  align-items: center;
}

@layer components {
  .input-base {
    @apply w-full h-[44px] py-3 px-2 border border-gray-400
    text-black rounded-lg text-xs focus:!border-gray-400 font-inter
     focus:!outline-none transition-all duration-150 ease-in-out select-no-outline;
  }

  .form-btn {
    @apply flex items-center justify-center font-manrope w-full h-[44px] py-4 rounded-lg text-white mb-4;
  }
}
